name: Lint

on:
  push:
    branches-ignore:
      - master
  

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'

    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: npm install -g clang-format

    - name: Check out LuosHAL repository
      uses: actions/checkout@v2

    - name: Check for code format
      run: python .github/workflows/run-clang-format.py -r .
